*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: rgb(31, 31, 31);
}
.container{
  background-color: rgb(232, 228, 227);
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
  padding: 20px;

  
}
.container .title{
  width: 90%;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  width: 90%;
  margin: 20px auto;
}

#singUp{
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color:  #1d1d1d;
  color: rgb(235, 228, 222);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all .5s;
}
#singUp:hover{
  background-color:  #221a1a;

  opacity: 0.9;
}
header{
  width: 90%;
  text-align: end;
}
a{
  text-decoration: none;
  color: #161616;
}
.container p{
  margin: 20px;
}
button{
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}
button i{
  margin-right: 10px;
}

.input-container input[type="email"],input[type="password"],input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid  #1d1d1d;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #1d1d1d;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color:  #1d1d1d;
}
.input-container input[type="email"]:focus ~ .label,
.input-container input[type="email"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color:  #1d1d1d;
}
.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color:  #1d1d1d;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #929292;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus,input[type="password"]:focus ~ .underline,
.input-container input[type="text"]:valid,input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}
.input-container input[type="email"]:focus ~ .underline,
.input-container input[type="email"]:valid ~ .underline {
  transform: scaleX(1);
}

footer{
  width: 100%;
  font-size: 10px;
  text-align: center;
  transform: translate(0px, 50px);
}



.imgContainer{
  width: 400px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
}
.img{
  width: 100%;
  height: 100%;
  background-image: url(./assets/foto4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


/* medias queries */


@media (max-width: 700px) {
  .imgContainer{
    display: none;
  }
}